:root {
  --bg-color-house-grifyndor: #740001;
  --bg-color-house-slytherin: #1a472a;
  --bg-color-house-ravenclaw: #15265e;
  --bg-color-house-hufflepuff: #ecb939;
}




body {
    font-family:"Cinzel", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box ; 
  }
  
  header {
    background-color: #343a40;
    color: white;
    padding: 1em 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 1em;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }

  img{
    width: 100%;
  }
  
  main {
    padding: 2em;
    text-align: center;
  }
  
  .intro {
    max-width: 800px;
    margin: 0 auto;
  }
  
  footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 0.5em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    
  }


  .cont-houses img {
    width: 150px;
    height: 200px;
    background-color: azure;
  }

  .cards-houses{
    width: 20px;
    height: 10px;
    display: inline;
  }

  .cards-houses:last-child {

    padding-bottom: 200px;
  }


  .grid {
    
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .logo_house{
    height: 100px;
    width: auto;
  }

  .h2_grid{
    display: flex;
    align-items: center;
  }

  .bordes_redondeados{
    border: 0px;
    border-radius: 50px;
  }

  .imagen_personaje{

    height: 250px;
    width: auto;
  }

  .house_Gryffindor{
    background-color: var(--bg-color-house-grifyndor);
  }

  .house_Slytherin{
    background-color: var(--bg-color-house-slytherin);
  }

  .house_Ravenclaw{
    background-color: var(--bg-color-house-ravenclaw);
  }

  .house_Hufflepuff{
    background-color: var(--bg-color-house-hufflepuff);
  }



  
  @media only screen and (max-width: 800px) {

    .grid {
      grid-template-columns: auto auto;
    }

  }

  @media only screen and (max-width: 600px) {

    .grid {
      grid-template-columns: auto;
    }

  }


 
  