:root {
  --bg-color-house-grifyndor: #740001;
  --bg-color-house-slytherin: #1a472a;
  --bg-color-house-ravenclaw: #15265e;
  --bg-color-house-hufflepuff: #ecb939;
}




body {
    background:linear-gradient( rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url(../img/bg-hogwarts.jpg) no-repeat center center fixed;
    font-family:"Cinzel", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box ; 
    color: rgba(255, 255, 255, 0.905);
  }

 
  
  header {
    background-color: #0e0f11;
    color: white;
    padding: 1em 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 1em;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }

  img{
    width: 100%;
  }
  
  main {
    padding: 2em;
    text-align: center;
  }
  
  .intro {
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1{
    font-size: 50px;
  }

  p span {

    font-size: 30px;
  }



  footer {
    background-color: #0e0f11 ;
    color: white;
    text-align: center;
    padding: 0.5em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    
  }


  .cont-houses img {
    width: 150px;
    height: 200px;
  }

  .cards-houses{
    width: 20px;
    height: 10px;
    display: inline;
  }

  .cards-houses:last-child {

    padding-bottom: 200px;
  }


  .grid {
    
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
    color: #0e0f11;
    font-weight: bold;
   
  }

  .grid-item {
    background-color: rgba(12, 12, 12, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 20px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .logo_house{
    height: 100px;
    width: auto;
  }

  .h2_grid{
    display: flex;
    align-items: center;
  }

  .bordes_redondeados{
    border: 0px;
    border-radius: 50px;
  }

  .imagen_personaje{

    height: 200px;
    width: auto;
  }

  .house_Gryffindor{
    background-color: var(--bg-color-house-grifyndor);
  }

  .house_Slytherin{
    background-color: var(--bg-color-house-slytherin);
  }

  .house_Ravenclaw{
    background-color: var(--bg-color-house-ravenclaw);
  }

  .house_Hufflepuff{
    background-color: var(--bg-color-house-hufflepuff);
  }  
  
  .house_sin_casa{

    background-color: #0e0f11;
  }

  .personajesList h2 span {

    font-weight: bold;
  }

  
  @media only screen and (max-width: 1000px) {

    .grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

  }


  @media only screen and (max-width: 600px) {

    .grid {
      grid-template-columns: auto;
    }} 



 
  